#db
POSTGRES_DB=neondb
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_y6ou9jKNOWLJ
POSTGRES_HOST=ep-bitter-firefly-abmpg1ei-pooler.eu-west-2.aws.neon.tech
POSTGRES_PORT=5432
#Django
SECRET_KEY=django-insecure-bm3^$!9$)$hs3zxnkj=ivz)ijlbyspm6#jrr-#=6t#^g+sw!t1
DJANGO_SETTINGS_MODULE=dr_reminder_api.settings.dev